<div id="modal" class="hide"> <!--MODAL cobre a tela toda-->
  <div class="content"> <!--content é o conteúdo-->
    <div class="header">
      <h1>Pontos de Coleta</h1>
      <a href="#">Fechar</a>
    </div>
    <form action="/search">
      <label form="search">Cidade</label>
      <div class="search field">
        <input 
        type="text" 
        name = "search"
        placeholder="Pesquise por cidade"> <!--texto que aparece dentro do botao-->
        <button>
          <img src="/assets/search.svg" alt = "Buscar">
        </button>
      </div>
    </form>

  </div>
</div>